{% extends "main/base.html" %}
{% block content %}
	<h2>You are seeing this because your account shouldn't have access to these entries.. uhh..</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Position</th>
				<th>Company</th>
				<th>City</th>
				<th>State</th>
				<th>Salary</th>
			</tr>
		</thead>
		<tbody>
		{% for entry in JobEntries %}
		<tr>
			<td>{{ entry.date_applied }}</td>
			<td>{{ entry.position }}</td>
			<td>{{ entry.company }}</td>
			<td>{{ entry.city }}</td>
			<td>{{ entry.state }}</td>
			<td>{{ entry.salary }}</td>
			<td><a href="{% url 'entry-update' entry.id %}"><i class="fa fa-edit"></i></a></td>
			<td><a href="{% url 'entry-delete' entry.id %}"><i class="fa fa-trash"></i></a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<a href="{% url 'entry-create' %}"><i class="fa fa-plus-circle" id="addJob"></i></a>
{% endblock content %}



